body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top, #4facfe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 20px;
}
.weather-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  width: 300px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  width: 70%;
}

.search-box button {
  padding: 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.weather-info h1 {
  font-size: 48px;
  margin: 10px 0;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}